.house-single{
	background: #fff;
	padding-top:0;
}
.house-single .carousel-container{
	position: relative;
}
.house-single .carousel-indicators{
	display:none;
}
.house-single .carousel.slide .carousel-item img{
	height: 300px;
	object-fit: cover;
}
.house-single label{
	color: #fff;
	font-size: 14px;
	font-weight: 400;
}
.house-single h4{
	font-size:18px;
	color:#746666;
	font-weight:bold;
	margin-bottom:30px;
}
.house-single hr{
	margin-top:30px;
	margin-bottom:30px;
}
.house-single .house-details{
	padding: 20px;
}
.house-single .house-rating svg{
	color: #0AA09F;
}
.house-single h1{
	color: #483A3A;
	font-weight:bold;
	font-size:30px;
}
.house-single .house-rating .house-price{
	color: #746666;
	font-size: 14px;
}
.house-single .house-location{
	margin-top:30px;
	color:#746666;
	font-size:14px;
}
.house-single .house-location p{
	margin-bottom:15px;
	display:flex;
	align-items:center;
}
.house-single .house-location a{
	color: #0AA09F;
	font-weight:bold;
}
.house-single .house-location .menu-icon{
	font-size:24px;
	margin-right: 20px;
}
.house-single .house-description{
	font-size:16px;
	color: #746666;
	margin-top:30px;
	line-height: 1.4;
}
.house-single .house-description a{
	color: #0AA09F;
	font-weight:bold;
}
.house-single .house-description-list ul{
	list-style:none;
	padding:0;
}
.house-single .house-description-list ul li{
	color:#B1A1A1;
	font-size:14px;
	clear:both;
}
.house-single .house-description-list ul li span{
	color:#746666;
	font-weight:bold;
	font-size:16px;
	float:right;
}
.house-single .house-description-list a{
	color:#0AA09F;
	font-weight:bold;
	font-size:16px;
}
.house-single .house-map-location p{
	color: #746666;
	font-size:14px;
	line-height: 1.2;
}
.house-single .house-map-location img{
	height:150px;
	object-fit:cover;
	border-radius:5px;
}
.house-single .house-host .house-host-img{
	width:82px;
	height:82px;
	border-radius:50%;
	object-fit:cover;
	float: right;
}
.house-single .house-host h4{
	margin-bottom:0;
}
.house-single .house-host p{
	font-size:14px;
	color:#B1A1A1;
}
.house-single .house-host .house-host-rating svg{
	color:#0AA09F;
}
.house-single .house-host .house-host-rating span{
	color: #746666;
	font-size:14px;
}
.house-single .house-host .house-host-description{
	color: #746666;
	font-size:16px;
	line-height:1.4;
	margin-top:30px;
}
.house-single .house-host .house-host-description a{
	color: #0AA09F;
	font-weight:bold;
}
.house-single .house-host .btn-secondary{
	margin-top:30px;
}
.house-single .house-guidelines{
	position:relative;
}
.house-single .house-guidelines h4{
	margin-bottom:0;
}
.house-single .house-guidelines p{
	color: #B1A1A1;
	font-size:14px;
	margin-bottom:0;
}
.house-single .house-guidelines .menu-icon{
	position:absolute;
	right:0;
	top: 5px;
	color:#0AA09F;
	font-size:26px;
}
.house-single .house-comments h4{
	margin-bottom:10px;
}
.house-single .house-comments .house-comment-rating{
	color: #0AA09F;
	margin-bottom:30px;
}
.house-single .house-comments .house-comment-rating span{
	color: #746666;
	font-size:14px;
}
.house-single .house-comment{
	margin-bottom:50px;
	position:relative;
}
.house-single .house-comment:after{
	content:"";
	width:20px;
	height:5px;
	background-color:#746666;
	position:absolute;
	bottom:-30px;
}
.house-single .house-comment.last:after{
	display:none;
}
.house-single .house-comment.last{
	margin-bottom:30px;
}
.house-single .house-comment .house-comment-img-name{
	display:flex;
	align-items:center;
}
.house-single .house-comment .house-comment-img{
	width:50px;
	height:50px;
	border-radius:50%;
	object-fit: cover;
	margin-right:20px;
}
.house-single .house-comment .house-comment-name{
	color:#746666;
	font-weight:bold;
	font-size:14px;
	margin-bottom:0;
	line-height:1;
}
.house-single .house-comment .house-comment-date{
	color:#B1A1A1;
	font-size:10px;
	margin-bottom:0;
}
.house-single .house-comment .house-comment-img-name{
	margin-bottom:20px;
}
.house-single .house-comment .house-comment-message{
	font-size:16px;
	color:#746666;
}
.house-single .house-comment .house-comment-message a{
	color:#0AA09F;
	font-weight:bold;
}
.house-single .house-comments .read-all-comments,
.house-single .house-comments .report-house{
	color:#0AA09F;
	font-weight:bold;
	font-size:14px;
	display:flex;
	align-items:center;
}
.house-single .house-comments .read-all-comments .menu-icon,
.house-single .house-comments .report-house .menu-icon{
	color:#B1A1A1;
	font-size:20px;
	margin-left:10px;
}
.house-single .house-single-bottom{
	position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
	z-index:9;
}
.house-single .house-single-bottom .nav-bottom .col{
	display:flex;
	align-items: center;
}
.house-single .house-single-bottom .nav-bottom .col a{
	color: #0AA09F;
	font-weight:bold;
	font-size:14px;
}
.house-single .house-single-bottom .nav-bottom .col button{
	width:100%;
	font-weight:bold;
	font-size:14px;
}
.house-single .house-single-bottom .nav-bottom .hsb-label{
	color: #0AA09F;
	font-size:14px;
	margin:0;
	position:unset;
	text-align: left;
}
.house-single .house-single-bottom .nav-bottom .hsb-label span{
	background: #0AA09F;
	color: #fff;
	border-radius:4px;
	font-size:12px;
	padding:2px 4px;
	margin-left: 5px;
}
.house-single .house-single-bottom .nav-bottom .hsb-price{
	color: #483A3A;
	font-size:16px;
	font-weight:bold;
	margin:0;
	position:unset;
	text-align: left;
}
.house-single .btn-back{
	position:absolute;
	top:0;
	left:0;
	border:0;
	background-color:transparent !important;
	z-index:99;
}
