.register-email{
	border-bottom: 1px solid #CBC0C0;
	margin-bottom: 20px;
}
.birthdate-container{
	margin-top:20px;
	margin-bottom: 10px;
}
.birthdate{
	display:flex;
	position:relative;
}
.birthdate .birthdate-select{
	width:calc(100% / 3);
	margin: 5px;
	z-index: 999;
}
.birthdate .birthdate-select:first-child{
	margin-left:0;
}
.birthdate .birthdate-select:last-child{
	margin-right:0;
}
.warning-text{
	color: #746666;
	font-size: 12px;
}
.register-email .btn-primary{
	font-size:16px !important;
	font-weight:bold;
	padding: 15px 30px !important;
	width: 90%;
	margin-bottom: 40px;
}
.align-center{
	display:flex;
	justify-content:center;
}
.checkbox-container{
	line-height: 15px;
	margin-bottom:20px;
}
.register-error{
	color: red;
	font-size: 12px;
	margin-bottom:10px;
}
.register-error2{
	color: red;
	font-size: 12px;
	margin-top:15px;
	margin-bottom:0;
}